 .u-section-1 {
  background-image: none;
  min-height: 1042px;
}

.u-section-1 .u-group-1 {
  height: auto;
  margin-top: 90px;
  margin-bottom: 0;
  min-height: 209px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-1 .u-shape-1 {
  height: 808px;
  width: 303px;
  margin: 47px 27px -666px auto;
}

.u-section-1 .u-image-1 {
  height: 698px;
  width: 637px;
  object-position: 45.65% 50%;
  margin: -117px calc(((100% - 1140px) / 2)) 0 auto;
}

.u-section-1 .u-group-2 {
  min-height: 757px;
  width: 591px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  height: auto;
  margin: -625px auto 30px calc(((100% - 1140px) / 2));
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 8px 29px;
}

.u-section-1 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 0 auto 0 27px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 38px auto 0 81px;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 27px 41px 0 auto;
  padding: 0;
}

.u-section-1 .u-icon-2 {
  font-size: 1.4em;
}

.u-section-1 .u-form-1 {
  height: 443px;
  margin: 29px 0 0 5px;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

.u-section-1 .u-input-1 {
  font-weight: 700;
  border-style: solid;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-input-2 {
  font-weight: 700;
  border-style: solid;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
  font-weight: 400;
}

.u-section-1 .u-input-3 {
  font-weight: 700;
  border-style: solid;
}

.u-section-1 .u-input-4 {
  font-weight: 700;
  border-style: solid;
}

.u-section-1 .u-form-group-5 {
  margin-left: 0;
}

.u-section-1 .u-input-5 {
  font-weight: 700;
  border-style: solid;
}

.u-section-1 .u-form-group-6 {
  margin-left: 0;
}

.u-section-1 .u-input-6 {
  font-weight: 700;
  border-style: solid;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-image-1 {
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-group-2 {
    margin-left: calc(((100% - 940px) / 2));
    height: auto;
  }

  .u-section-1 .u-form-group-3 {
    font-weight: 700;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-group-2 {
    margin-left: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 1077px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    object-position: 12.52% 50%;
    height: 592px;
    width: 540px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-group-2 {
    width: 540px;
    margin-top: -519px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-1 .u-form-1 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 858px;
  }

  .u-section-1 .u-shape-1 {
    margin-right: 17px;
  }

  .u-section-1 .u-image-1 {
    height: 373px;
    width: 340px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-group-2 {
    width: 340px;
    margin-top: -300px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 8px;
  }
}