 .u-section-1 {
  background-image: none;
  min-height: 1221px;
}

.u-section-1 .u-group-1 {
  height: auto;
  width: calc(((100% - 1140px) / 2) + 702px);
  background-image: none;
  min-height: 1171px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-group-2 {
  min-height: 386px;
  width: 570px;
  margin: 41px auto 0 20px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-family: Roboto, sans-serif;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-2 {
  font-family: Oswald, sans-serif;
  font-size: 4.5rem;
  margin: 20px 0 0;
}

.u-section-1 .u-image-1 {
  width: 731px;
  height: 591px;
  margin: -920px calc(((100% - 1140px) / 2)) 0 auto;
}

.u-section-1 .u-list-1 {
  width: 1140px;
  margin: -20px auto 53px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(1, 100%);
  min-height: 296px;
  grid-gap: 18px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-container-layout-3 {
  padding: 0 30px 30px;
}

.u-section-1 .u-icon-1 {
  height: 62px;
  width: 62px;
  margin: 1px auto 0 0;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  margin: 31px 0 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 1244px;
  }

  .u-section-1 .u-group-1 {
    width: calc(((100% - 940px) / 2) + 735px);
    height: auto;
  }

  .u-section-1 .u-group-2 {
    min-height: 381px;
    width: 526px;
    margin-top: -767px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-image-1 {
    width: 771px;
    height: 587px;
    margin-top: -928px;
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-list-1 {
    width: 909px;
    margin-top: 337px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 321px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 1648px;
  }

  .u-section-1 .u-group-1 {
    width: calc(((100% - 720px) / 2) + 605px);
  }

  .u-section-1 .u-group-2 {
    margin-top: -863px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-text-2 {
    font-size: 4.375rem;
  }

  .u-section-1 .u-image-1 {
    width: 622px;
    height: 532px;
    margin-top: -1186px;
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-list-1 {
    width: 655px;
    margin-top: 406px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-repeater-1 {
    min-height: 655px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 2052px;
  }

  .u-section-1 .u-group-1 {
    width: calc(((100% - 540px) / 2) + 484px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-2 {
    min-height: 339px;
    width: 453px;
    margin-top: -760px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-2 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-image-1 {
    width: 476px;
    height: 482px;
    margin-top: -1631px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-list-1 {
    width: 380px;
    margin-top: 341px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-repeater-1 {
    min-height: 1156px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 2029px;
  }

  .u-section-1 .u-group-1 {
    width: calc(((100% - 340px) / 2) + 249px);
  }

  .u-section-1 .u-group-2 {
    min-height: 307px;
    width: 307px;
    margin-top: -764px;
    margin-left: auto;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.5rem;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 517px;
    object-position: 73.14% 50%;
    margin-top: -1686px;
    margin-right: auto;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
    margin-top: 396px;
    margin-left: calc(((100% - 340px) / 2));
  }
} .u-section-2 {
  background-image: none;
  min-height: 1068px;
}

.u-section-2 .u-shape-1 {
  width: calc(((100% - 1140px) / 2) + 879px);
  height: 684px;
  background-image: none;
  margin: 302px 0 0 auto;
}

.u-section-2 .u-image-1 {
  width: 1140px;
  height: 564px;
  margin: -966px calc(((100% - 1140px) / 2) + -22px) 0 auto;
}

.u-section-2 .u-group-1 {
  min-height: 215px;
  width: 408px;
  box-shadow: 5px 5px 23px 0 rgba(0,0,0,0.15);
  text-shadow: 5px 5px 0 rgba(0,0,0,0);
  height: auto;
  margin: -65px auto 0 calc(((100% - 1140px) / 2) + 50px);
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 1.2;
  margin: 60px 30px 0;
}

.u-section-2 .u-group-2 {
  width: 518px;
  min-height: 370px;
  height: auto;
  margin: -144px calc(((100% - 1140px) / 2) + 52px) 60px auto;
}

.u-section-2 .u-container-layout-2 {
  padding: 20px;
}

.u-section-2 .u-text-2 {
  margin: 40px 0 0;
}

.u-section-2 .u-text-3 {
  line-height: 1.7;
  font-size: 1.5rem;
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-2 .u-btn-1 {
  letter-spacing: 2px;
  font-size: 0.875rem;
  background-image: none;
  text-transform: uppercase;
  font-weight: 500;
  margin: 20px auto 0 40px;
  padding: 19px 45px 20px 44px;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 969px;
  }

  .u-section-2 .u-shape-1 {
    width: calc(((100% - 940px) / 2) + 879px);
  }

  .u-section-2 .u-image-1 {
    width: 940px;
    height: 465px;
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-group-1 {
    margin-top: 34px;
    margin-left: calc(((100% - 940px) / 2) + 50px);
    height: auto;
  }

  .u-section-2 .u-group-2 {
    margin-right: calc(((100% - 940px) / 2) + 52px);
    height: auto;
  }

  .u-section-2 .u-btn-1 {
    border-style: none;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 860px;
  }

  .u-section-2 .u-shape-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-2 .u-image-1 {
    width: 720px;
    height: 356px;
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-group-1 {
    margin-left: calc(((100% - 720px) / 2) + 50px);
  }

  .u-section-2 .u-group-2 {
    margin-right: calc(((100% - 720px) / 2) + 52px);
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 771px;
  }

  .u-section-2 .u-shape-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    height: 267px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-group-1 {
    margin-left: calc(((100% - 540px) / 2) + 50px);
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-group-2 {
    margin-right: calc(((100% - 540px) / 2) + 22px);
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.25rem;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 672px;
  }

  .u-section-2 .u-shape-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 168px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-group-1 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-group-2 {
    width: 340px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.125rem;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 0;
  }
} .u-section-3 {
  background-image: none;
  min-height: 900px;
}

.u-section-3 .u-shape-1 {
  background-image: none;
  height: 604px;
  width: calc(((100% - 1140px) / 2) + 1140px);
  margin: 220px auto 0 0;
}

.u-section-3 .u-shape-2 {
  width: calc(((100% - 1140px) / 2) + 435px);
  height: 677px;
  background-image: none;
  margin: -610px auto 0 0;
}

.u-section-3 .u-image-1 {
  width: 569px;
  height: 569px;
  margin: -837px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-3 .u-group-1 {
  width: 443px;
  min-height: 456px;
  background-image: none;
  margin: -308px calc(((100% - 1140px) / 2) + 69px) 60px auto;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 8px 0 0 10px;
}

.u-section-3 .u-text-2 {
  font-size: 1.5rem;
  margin: 20px 0 0 10px;
}

.u-section-3 .u-btn-1 {
  letter-spacing: 2px;
  font-size: 0.875rem;
  background-image: none;
  text-transform: uppercase;
  font-weight: 500;
  margin: 20px auto 0 10px;
  padding: 19px 45px 20px 44px;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 922px;
  }

  .u-section-3 .u-shape-1 {
    height: 535px;
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-3 .u-shape-2 {
    width: calc(((100% - 940px) / 2) + 433px);
    height: 619px;
  }

  .u-section-3 .u-image-1 {
    width: 516px;
    height: 504px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-3 .u-group-1 {
    width: 378px;
    margin-right: calc(((100% - 940px) / 2) + 25px);
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 872px;
  }

  .u-section-3 .u-shape-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-3 .u-shape-2 {
    width: calc(((100% - 720px) / 2) + 250px);
    height: 581px;
  }

  .u-section-3 .u-image-1 {
    width: 335px;
    height: 359px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-3 .u-group-1 {
    width: 360px;
    margin-right: calc(((100% - 720px) / 2) + 13px);
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 1024px;
  }

  .u-section-3 .u-shape-1 {
    height: 637px;
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-3 .u-shape-2 {
    width: calc(((100% - 540px) / 2) + 180px);
    height: 413px;
  }

  .u-section-3 .u-image-1 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-3 .u-group-1 {
    width: 318px;
    margin-top: -279px;
    margin-right: calc(((100% - 540px) / 2) + 22px);
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 1042px;
  }

  .u-section-3 .u-shape-1 {
    height: 655px;
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-3 .u-shape-2 {
    width: calc(((100% - 340px) / 2) + 193px);
    height: 304px;
  }

  .u-section-3 .u-image-1 {
    width: 306px;
    height: 327px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-3 .u-group-1 {
    margin-top: -79px;
    margin-right: auto;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 0;
  }
}